.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all .rds and .rda files
#/Hutage/ShinyApp/**/*.rds
#/Hutage/ShinyApp/**/*.rda
/ShinyApp/CellCellInteraction/cellchat_cellcell_heat_tis.rds
/ShinyApp/CellCellInteraction/cellchat_lr_table_tis.rds
/ShinyApp/CellComposition/GTEx_v8_SampleAttributes.rds
/ShinyApp/CellComposition/GTEx_v8_SubjectPhenotypes.rds
/ShinyApp/CellComposition/deconv/
/ShinyApp/CellComposition/gexpr/
/ShinyApp/CellComposition/tsp_gmt.rds
/ShinyApp/TFactivity/age_dep_glob_tiss.rds
/ShinyApp/TFactivity/agedep_tfact_acrosstis.rds
/ShinyApp/TFactivity/omnipathnet.rds
/ShinyApp/TFactivity/sctfact/
/ShinyApp/TFactivity/tfact_grpcomp.rds
/ShinyApp/TissueSpecificity/tauAnno_by_age.rds
/ShinyApp/TissueSpecificity/tau_age.rds
/omnipathr-log/

# Ignore www directories
/ShinyApp/**/www/

# Ignore rsconnect directories
/ShinyApp/**/rsconnect/

# Ignore specific files
/ShinyApp/Welcome/welcome.md

# Ignore specific directories
/data/
/preprocessing/intermediate_file/
/preprocessing/supplement/
/supplement/

