.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all .rds and .rda files
#/Hutage/ShinyApp/**/*.rds
#/Hutage/ShinyApp/**/*.rda
/Hutage/*.rds
/Hutage/*.rda
# Ignore www directories
/Hutage/ShinyApp/**/www/

# Ignore rsconnect directories
/Hutage/ShinyApp/**/rsconnect/

# Ignore specific files
/HuTAge/ShinyApp/Welcome/welcome.md

# Ignore specific directories
/Hutage/data/
/Hutage/preprocessing/intermediate_file/
/Hutage/preprocessing/supplement/
/Hutage/supplement/